@using (Html.BeginForm("KetQuaTraCuu", "Tracuu", FormMethod.Post))
{
    <label for="maVe">Mã Vé:</label>
    <input type="text" name="maVe" required />
    <input type="submit" value="Tra cứu" />
}
